@font-face {
    font-family: "arcadeclassic";
    src: url(fonts/arcadeclassic/arcadeclassic.TTF);
}

html, body {
    background-image:url(images/background2.jpg);
   background-size:100%;
   margin: 0;
   height: 100%;
   width: 100%;
}

table{
     margin-left: 20%;
     width: 60%;
     height: 75%;
}

#tableCol1{
  width: 50%;
  height: 2em;
  position: relative;
  background-color: #1e53a8;
}

/*#tableCol2 {
  width: 1em;
  height: 2em;
}*/

#boardAnswer1, #boardAnswer2, #boardAnswer3, #boardAnswer4, #boardAnswer5, #boardAnswer6, #boardAnswer7, #boardAnswer8 {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 3em;
    font-family: arcadeclassic;
    color: white;
    position: absolute;
    display: inline-block;
    float: left;
    z-index: 1;
    transform: translate(1em, -150%);
}

#boardValue1, #boardValue2, #boardValue3, #boardValue4, #boardValue5, #boardValue6, #boardValue7, #boardValue8 {
    margin-left: 5px;
    margin-top: 0px;
    font-size: 3em;
    font-family: arcadeclassic;
    width: 100%;
    color: white;
    position:absolute;
    display: inline-block;
    float: right;
    z-index: 1;
    transform: translate(6em, -150%);
}

#board1, #board2, #board3, #board4, #board5, #board6, #board7, #board8{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 10;
    visibility: hidden;
}

#wrong1, #wrong2, #wrong3{
  position:absolute;
  top:50%;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  z-index: 100;
}
