@font-face {
    font-family: "arcadeclassic";
    src: url(fonts/arcadeclassic/arcadeclassic.TTF);
}

html, body {
    background-image:url(images/background.jpg);
   background-size:100%;
   margin: 0;
   height: 100%;
   width: 100%;
}

table{
    font-family: arcadeclassic;
    color: white;
}

#table2{
    color: black;
    background-color: blue;
}

#table2row{
    background-color: white;
}
