@font-face {
    font-family: "gameshow";
    src: url(fonts/gameshow/gameshow.TTF);
}

html, body {
    background-image:url(images/background.jpg);
   background-size:100%;
   margin: 0;
   height: 100%;
   width: 100%;
}

table{
    font-family: fantasy;
}

#table2{
    background-color: blue;
}

#table2row{
    background-color: white;
}
